@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background-color: rgb(245, 192, 192);
}

.quiz {
  margin: 0 auto;
  width: 600px;
  background-color: #fff;
}

.quiz-questions-item__question, .quiz-results-item__question {
  font-size: 30px;
  margin: 0 0 20px 0;
  color: red;
}
.quiz-questions-item__answers, .quiz-results-item__answers {
  font-size: 18px;
  margin: 0 0 20px 0;
}

.quiz-indicator {
  text-align: right;
}

.btn-restart {
  display: none;
}

.quiz-results {
  display: none;
}

.indicator--hidden,
.btnNext--hidden {
  display: none;
}

.results--visible,
.btnRestart--visible {
  display: block;
}

.answer--invalid {
  color: red;
}

.answer--valid {
  color: green;
}