@import "_nullstyle";

body{
    background-color: #2357ac;
}

.quiz{
    margin: 120px auto;
    width: 600px;
    background-color: #ffffff    ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px #083881;
    
}
.quiz-questions {
}
.quiz-questions-item, .quiz-results-item {

		&__question {
            font-family: Nunito;
            font-weight: 700;
            font-style: italic;
            text-align: center;
            font-size: 30px;
            margin: 0 0 20px 0;
            color: rgb(0, 0, 0);
		}
        &__question::after{
            content: ' ';
            display: block;
            margin: 10px auto 0 auto;
            width: 500px;
            height: 1px;
            background-color: #d7d7d7;
        }

		&__answers {
            font-family: Nunito;
            font-size: 18px;
            margin: 0 0 20px 0;
            color: rgb(0, 0, 0);

            li{
                margin-top: 8px;
            }

            li:hover{
                text-shadow: 0px 0px 4px #3673d7;
            }
		}
}
.quiz-results {
}
.quiz-indicator {
    text-align: right;
}
.quiz-controls {
}
.btn-next {
    color: #2358ac8f;;
    width: 200px;
    height: 40px;
    background-color: #2358ac8f;
    box-shadow: 0 2px 8px #03327c;
    border-radius: 20px;
    font-family: Nunito;
    font-size: 16px;
    &::after{
        content: ' ';
    }
    &:enabled{
        color: #ffffff;
        background-color: #2357ac;
    }
    &:hover{
        background-color: #598ad8
    }
}
.btn-restart {
    margin: 0px auto;
    margin-top: 50px;
    color: #2358ac8f;
    width: 200px;
    height: 40px;
    background-color: #2358ac8f;
    box-shadow: 0 2px 8px #03327c;
    border-radius: 20px;
    font-family: Nunito;
    font-size: 16px;
    &::after{
        content: ' ';
    }
    &:enabled{
        color: #ffffff;
        background-color: #2357ac;
    }
    &:hover{
        background-color: #598ad8
    }
    display: none;
}

.quiz-results{
    display: none;
}

.indicator--hidden,
.btnNext--hidden{
display: none;
}
.results--visible,
.btnRestart--visible{
display: block;
}

.answer--invalid{
    color: red;
}

.answer--valid{
    color: green;
}